@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Montserrat&display=swap');
body {
 background-color: #F0F0F0;
}
.nav-item{
    font-family: Abel;
}

.title{
    font-size: x-large;
}

.links {
    font-size: small;
}

.headerfont{
    font-family: Anton;
}
h1{
    font-size: 3.5rem;
    font-weight: bolder;
    font-family: Anton;
}


h2{
    font-size: 1.5rem;
    font-family: Anton;
}
.rounded-circle{
    font-family: Anton;
    font-size: small;
    height: 90px;
    width: 90px;
}
h3{
    font-size: xx-large;
    font-weight: bolder;
    font-family: Anton;
}
p{
    font-size: small;
}

h5{
    font-size: x-small;
    font-family: Abel;
}

.smalltitle1 {
    font-family: Abel;
}

.thingone {
    background-color: #e6563b;
}

.thingtwo {
    background-color: #eb9d3a;
}

.thingthree {
    background-color: #7cb06c;

}

.thingfour {
    background-color: #00aba9;
}
.badge1{
    background-color: #e6563b;
    height: 18px;
    width: 18px;
}
.badge2{
    background-color: #eb9d3a;
    height: 18px;
    width: 18px;
}
.badge3{
    background-color: #7cb06c;
    height: 18px;
    width: 18px;
}
.badge4{
    background-color: #00aba9;
    height: 18px;
    width: 18px;
}
a {
    text-decoration: none;

}
.bgAlt {
    background-color: #F0F0F0;

}

.lasttext{
    font-family: Abel;
}

.rounded {
    width: 75px;
    height: 75px;
}